# Assignment Day-4
                             Done By:- Varinderjot Singh

# Questions 1:

How to import pandas and check the version?

In [2]:
import pandas as pd
print(pd.__version__)

1.1.4

# Questions 2:

How to create a series from a numpy array?

In [3]:
import numpy as np 
  
# numpy array 
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series 
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

# Questions 3:

How to convert the index of a series into a column of a dataframe?

In [4]:
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 

print(df)

  Roll Number     Name  Marks In Percentage Grade  Subject
0     20CSE29   Amelia                   97     A  Physics
1     20CSE49      Sam                   90     A  Physics
2     20CSE36     Dean                   70     C  Physics
3     20CSE44  Jessica                   82     B  Physics

# Questions 4:

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [7]:
import seaborn as sb
print(sb.__version__)
mpg = sb.load_dataset('mpg')
mpg.head()

0.11.0

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Questions 5:
Which country origin cars are a part of this dataset?

In [10]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [11]:
mpg[mpg.origin=='usa']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10